/*src/App.css*/

@import url(https://fonts.googleapis.com/css?family=Roboto:500);

.App {
  text-align: center;
  padding: 2% 10%; /* Increased right padding for centering */
  background-color: #87CEEB; /* Sky blue background */
}

.App * {
  box-sizing: border-box;
}

ul {
  padding: 0;
  list-style: none;
}

p {
  margin: 5px 0;
}

input[type="text"],
input[type="number"] {
  padding: 8px 6px 8px 10px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #ccc;
  font-size: 14px;
  line-height: 20px;
  align-self: center;
  height: 38px;
  margin-bottom: 20px;
}

.city {
  width: 250px;
}

#city-search {
  display: flex;
  flex-direction: column;
  margin: auto;
  position: relative;
}

.suggestions {
  width: 250px;
  position: absolute;
  top: 45px;
  z-index: 2;
  align-self: center;
  margin: 0;
  font-size: 14px;
  box-shadow: 10px 10px 16px -12px rgba(0, 0, 0, 0.75);
}

.suggestions > li {
  text-align: left;
  padding: 8px 6px 8px 10px;
  background-color: #eee;
  cursor: default;
}

.suggestions > li:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.suggestions > li:hover {
  background-color: #bcdcdb;
}

.event {
  padding: 10px 10px 35px;
  margin-bottom: 10px;
  text-align: left;
  border: 1px solid #ccc;
  border-radius: 4px;
  position: relative;
}

.details-btn {
  background-color: #4CAF50; /* Green background */
  color: white; /* White text */
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition: background-color 0.3s; /* Fade effect */
  cursor: pointer;
  border-radius: 4px;
}

.details-btn:hover {
  background-color: #45a049; /* Darker green on hover */
}
